<div class="title has-text-centered is-1"><h1>Sign up</h1></div>
<p class="content has-text-centered">Register your account today to instantly recieve the best deals</p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-primary is-fullwidth is-size-5" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
