<div class="form">
<%= form_with(model: listing, local: true) do |form| %>

<div class="block is info">
    <div class="field">
       <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "input" %>
    </div>
    </div>

    <div class="field">
        <%= form.label :price, class: "label" %>
        <%= form.text_field :price, class: "input" %>
    </div>



    <div class="field">
        <%= form.label :description, class: "label" %>
        <%= form.text_field :description, class: "input" %>
    </div>

    <div class="field">
        <%= form.label :address, class: "label" %>
        <%= form.text_field :address, class: "input" %>
    </div>

    <div class="field">
        <%= form.label :city, class: "label" %>
        <%= form.text_field :city, class: "input" %>
    </div>

    <div class="field">
        <%= form.label :state, class: "label" %>
        <%= form.text_field :state, class: "input" %>
    </div>

    <div class="field">
        <%= form.label :country, class: "label" %>
        <%= form.text_field :country, class: "input" %>
    </div>

    <div class="field">
        <%= form.label :image, class: "label" %>
        <%= form.file_field :image, class: "button is-primary" %>
    </div>

    <div class="control">
        <%= form.submit %>
    </div>

<% end %> 
</div>