<%# Form used to create and edit listings %>
<div class="form">
<%= form_with(model: listing, local: true) do |form| %>
 
<div class="block is info">
    <div class="field">
       <%= form.label :title, class: "label" %>
        <%= form.text_field :title, placeholder: "What is the name of your tek?", class: "input" %>
    </div>
    </div>

    

    <div class="field">
        <%= form.label :price, class: "label" %>
        <%= form.number_field :price, placeholder: "Set a price for your tek", class: "input" %>
    </div>



    <div class="field">
        <%= form.label :description, class: "label" %>
        <%= form.text_field :description, placeholder: "Describe your tek", class: "input" %>
    </div>

    <div class="field">
        <%= form.label :address, class: "label" %>
        <%= form.text_field :address, placeholder: "Input your mailing address", class: "input" %>
    </div>
<div class="columns">
<div class="column">
    <div class="field">
        <%= form.label :city, class: "label has-text-centered" %>
        <%= form.text_field :city, placeholder: "Mailing city", class: "input" %>
    </div>
    </div>
<div class="column">
    <div class="field">
        <%= form.label :state, class: "label has-text-centered" %>
        <%= form.text_field :state, placeholder: "Mailing state", class: "input" %>
    </div>
    </div>

<div class="column">
    <div class="field">
        <%= form.label :country, class: "label has-text-centered" %>
        <%= form.text_field :country, placeholder: "Mailing country", class: "input" %>
    </div>
    </div>
    </div>

    <div class="field">
        <%= form.label :image, class: "label" %>
        <%= form.file_field :image, class: "button is-primary" %>
    </div>

    <div class="form">
        <%= form.submit %>
    </div>

<% end %> 
</div>