<div class="list-button">
<%= link_to  "Create new listing", new_listing_path, :class => 'btn btn-warning' %>
</div>

<div class="title">
<h1>Featured Products</h1>
</div>

<div class="title">

<h1>Your listings</h1>
</div>


<% @listings.each do |listing| %>
    <%= listing.title %>
    
    
    <%= listing.price %>
    
    <%= listing.description %>
    
    <%= listing.address %>
    
    <%= listing.city %>
   
    <th><%= listing.state %>
   
    <%= listing.country %>
    
    
    <% if listing.image.attached? %>
        <% for img in listing.image %>
        
            <%= image_tag img, stlye: 'height: 100px' %></th>
            
        <% end %>
    <% end %>
<% end %>
