

<div class="listing-index-grid pt4">

  <% @listings.each do |listing| %>

    <div class="listing border-light">
      <div class="listing-thumb">
        <% if listing.image.attached? %>
          <% for img in listing.image %>
              <%= image_tag img, width: 64 %></th>
          <% end %>
        <% end %>
      </div>


    <div class="pa2 products">

      <h3 class="fw7 f4 title box has-text-centered"><%= link_to listing.title.capitalize, listing %></h3>
       <p class="f3 pb4"><%= number_to_currency(listing.price) %></p>
      <p class="content is-light"><strong>Description:</strong> <%= link_to listing.description, listing %></p>
      <p class="content"><strong>Country:</strong> <span class="tag is-warning"><%= link_to listing.country.capitalize, listing %></span></p>


      


      <% if listing_author(listing) %>
         <%= link_to 'Edit', edit_listing_path(listing), class: "button is-small is-primary" %>
         <%= link_to 'Delete', listing, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small is-info" %>
      <% end %>
      

      <p class="f5 has-text-left pt1">Seller: <strong><%= listing.user.username %></strong></p>


     

    </div>
  </div>
  <% end %>
</div>







