<div class="list-button">
<%= link_to  "Create new listing", new_listing_path, :class => 'btn btn-warning' %>
</div>

<div class="title">
<h1>Featured Products</h1>
</div>


<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Show</th>
        <th>Order</th>
    </tr>

    <% @listings.each do |listing| %>

    <%
=begin%>
 <small>Created by: <%= x.user.username if x.user%>,
    <%= time_ago_in_words(x.created_at) %> ago,
    last updated: <%= time_ago_in_words(x.updated_at) %>
</small> 
<%
=end%>
        <tr>
            <td><%= listing.title %></td>
            <td><%= number_to_currency(listing.price) %></td>
            <td><%= listing.description %></td>
            <td><%= listing.city %></td>
            <td><%= listing.state %></td>
            <td><%= listing.country %></td>
            <td>
                <% if listing.image.attached? %>
                    <% for img in listing.image %>
                        <%= image_tag img, width: 64 %></th>
                    <% end %>
                <% end %>
            </td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Show', listing_path(listing) %></td>
            <td><%= link_to "Order", new_order_path %></td>
            <%
=begin%>
 <td><%= link_to 'Delete', article_path(listing), method: :delete, data: {confirm: "Are you sure?"} %></td> 
<%
=end%>
        </tr>
    <% end %>
</table>



