<%# This page shows when the user adds an item to their cart %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="keep-shopping pv1 mt4 has-text-right">

<%# A user is able to click the keep shopping link to back to the listings index, their item(s) will remain in the cart %>
  <%= link_to 'Keep Shopping', listings_path, class: 'button is-warning' %>
</div>
<hr />
<section class="section">

<%# Itereate through cart items which have images and render all images as thumbnails with the item information %>
<%# Else if the item does not have an image just render item information %>
<% @cart.orders.each do |x| %>
  
    <% if x.listing.image.attached? %>
      <% for img in x.listing.image %>
        <%= image_tag img, width: 64 %>
      <% end %>
      <%= render x %>
    <% else %>
    <%= render x %>
  <% end %>
<% end %>


  <div class="columns">
    <div class="column">
<%# Completely remove all items from the cart %>
<%# The user will be asked if they are sure to prevent them from accidently clicking the button and losing their cart %>  
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
    </div>
    
    <div class="column total has-text-right">
      <h4 class="title is-4">
<%# Display total price of all cart items %>      
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>

<%# Code from Stripe documentation to generate Stripe form %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
<%# Charge the user the total amount for the items in their cart %>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@cart.total_price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Payment details"
          data-amount="<%= number_to_currency(@cart.total_price) %>"
          data-locale="auto"></script>
<% end %>