<div class="checkout">
<div class="thank has-text-centered">
<h1 class="title has-text-success">Order Successful!</h1>
      <p class="content">Thank you for your custom. Your order will be on its way shortly. Just sit tight and hang five!</p>
      <table class="table is-striped is-bordered">
      <h1 class="title has-text-info">Order Reciept</h1>
      <tr>
            <td>User</td> <td><%= current_user.username %></td>
      </tr>
      <tr>            
            <td>Tek Gadgets</td>
                  <td><% @cart.orders.each do |x| %>
                        <%= x.listing.title %><br>
                  <% end %></td>
      </tr>
      <tr>
            
            <td>Grand Total</td> <td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
      </tr>
      
      </table>
      </div>

      <div class="animation">
            <%= image_tag("air.svg", :alt => "hero image") %>
      </div>
</div>


<div class="columns">
      <div class="column is-fullwidth">
            <%= link_to 'Continue Shopping', listings_path, class: "button is-primary is-fullwidth" %>
      </div>
      <div class="column">
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "button is-danger is-fullwidth" %>
      </div>
</div>