<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="container">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
<header class="nav">
  <p>Logged in as <strong><%= current_user.email %></strong></p>
  <div class="edit-button">
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn' %> 
  </div>
  <div class="logout-button">
    <%= link_to "", destroy_user_session_path, method: :delete, :class => "fas fa-sign-out-alt"  %>
  </div>
  </div>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-dark'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'btn btn-dark'  %>
<% end %>
</p>
</div>
</nav>
</header>
<section class="container">
    <%= yield %>
  </body>
</html>